 <h1>New Collaborator</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Collaborator Email</p>
   </div>
   <div class="col-md-8">
       <%= render form, locals: { wiki_id: @wiki.id } %>
   </div>
 </div>